@charset "utf-8"; 
/* CSS Document */
/*reset*/
html{height:100%;}
body{position:relative;color:#333;height:100%;overflow: hidden;}
.bodyTheme{padding-top:70px;background: #efefef;overflow-y:auto;height:auto;}
body, div, td,font,em{font-size:12px;line-height:1.2em;font-family:"Microsoft YaHei",Tahoma,Arial,"宋体","黑体";}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var,b,font,i{font-style:normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align:baseline;zoom: 1;}
input, textarea, select, button{font-size: 12px;font-weight: inherit; vertical-align:middle;}
input[type=radio],input[type=checkbox]{vertical-align: -2px;}
textarea{resize:none; overflow-x:hidden;overflow-y:auto; outline:medium none; word-wrap:break-word;}
a{text-decoration:none;color:#ef901b;}
a:focus{outline-style: none;outline-width: 0;outline: none;}
/*a{_blr:expression(this.onFocus=this.blur());}*/
a:link, a:visited, a:active{text-decoration: none;}
a:hover,.news-list li a:hover{text-decoration:none;}
.strong{font-weight:bold;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center!important;}
.alignright{text-align:right!important;}
.alignleft{text-align:left!important;}
.aligntop{vertical-align: top!important;}
.block{display:block !important;}
.inline{display:inline!important;}
.inlineblock{display:inline-block!important;}
.nobg{background:none!important;}
.nofloat{float:none!important;}
.noborder{border:none!important;}
.noborder-l{border-left:none!important;}
.noborder-r{border-right:none!important;}
.visible{overflow:visible!important;}
.visible-y{overflow-y:auto!important;}
.hidden{overflow:hidden!important;}
.relative{position: relative!important;}
.pointer{cursor: pointer!important;}
::-webkit-scrollbar{width:4px;background:#fff;}
::-webkit-scrollbar-thumb{width:4px;background:#ccc;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart3{margin-top:3px!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart11{margin-top:11px!important;}
.mart15{margin-top:15px!important;}
.mart18{margin-top:18px!important;}
.mart20{margin-top:20px!important;}
.mart25{margin-top:25px!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart45{margin-top:45px!important;}
.mart50{margin-top:50px!important;}
.mart70{margin-top:70px!important;}
.mart80{margin-top:80px!important;}
.marbt10{margin-bottom:10px!important;}
.marbt20{margin-bottom:20px!important;}
.mart100{margin-top:100px!important;}
.marl10{margin-left:10px!important;}
.marl15{margin-left:14px!important;}
.marr5{margin-right:5px!important;}
.marr6{margin-right:7px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr18{margin-right:18px!important;}
.marr20{margin-right:20px!important;}
.marr30{margin-right:30px!important;}
.marr50{margin-right:50px!important;}
.marl5{margin-left:5px!important;}
.marl6{margin-left:7px!important;}
.marl20{margin-left:20px!important;}
.marl25{margin-left:25px!important;}
.marl_20{margin-left:-20px!important;}
.marl30{margin-left:30px!important;}
.marl40{margin-left:40px!important;}
.marl50{margin-left:50px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.bg-white{background:#fff;}
.color-c{color:#ccc!important;}
.color-3,table.color-3 td,table.color-3 th{color:#333!important;}
.color-6,.color-6 a{color:#666!important;}
.color-8,.color-8 a{color:#888!important;}
.color-a,.color-a td *{color:#aaa!important;}
.color-347cdc{color:#347cdc!important;}
.color-1{color:#f08b15;}
.color-2{color:#ef901b;}
/*.color-3{color:#aaaaaa;}*/
.color-4{color:#e75353;}
.more{color:#ef901b;}
.nodata{color:#ccc;padding-top:100px;cursor: default;}
a.add:hover,a.more:hover{text-decoration: underline;}
.color-info{color:#80c17c;}
.tags,.keywords{color: #f11b1b;}
a.tags:hover,a.keywords:hover{text-decoration:underline;}
/*width*/
.width-30{width:30px!important;min-width:30px!important;}
.width-40{width:40px!important;}
.width-50{width:50px!important;}
.width-57{width:57px!important;}
.width-60{width:60px!important;}
.width-70{width:70px!important;}
.width-80{width:80px!important;}
.width-84{width:84px!important;}
.width-90{width:90px!important;}
.width-95{width:95px!important;}
.width-100{width:100px!important;}
.width-105{width:105px!important;}
.width-110{width:110px!important;}
.width-120{width:120px!important;}
.width-125{width:125px!important;}
.width-130{width:130px!important;}
.width-135{width:135px!important;}
.width-140{width:140px!important;}
.width-145{width:145px!important;}
.width-149{width:149px!important;}
.width-150{width:150px!important;}
.width-155{width:155px!important;}
.width-160{width:160px!important;}
.width-175{width:175px!important;}
.width-180{width:180px!important;}
.width-184{width:184px!important;}
.width-200{width:200px!important;}
.width-210{width:210px!important;}
.width-216{width:216px!important;}
.width-220{width:220px!important;}
.width-230{width:230px!important;}
.width-235{width:235px!important;}
.width-240{width:240px!important;}
.width-250{width:250px!important;}
.width-300{width:300px!important;}
.width-350{width:350px!important;}
.width-400{width:400px!important;}
.width-500{width:500px!important;}
.width-560{width:558px!important;}
.width-auto{width:auto!important;}
.height-auto{height:auto!important;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top15{padding-top:15px!important;}
.p-top20{padding-top:20px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-bt5{padding-bottom:5px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt15{padding-bottom:15px!important;}
.p-bt20{padding-bottom:20px!important;}
.p-left10{padding-left:10px!important;}
.p-left20{padding-left:20px!important;}
.p-left40{padding-left:40px!important;}
/*font-size*/
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font15{font-size:15px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font22{font-size:22px!important;}
.font24{font-size:24px!important;}
.font25{font-size:25px!important;}
.font26{font-size:26px!important;}
.font28{font-size:28px!important;}
.font30{font-size:30px!important;}
.font48{font-size:48px!important;}
.font70{font-size:70px!important;}
.l_th,.l_th *{text-decoration:line-through;}
.l_th i,.l_th ul,.l_th ul li,.l_th ul li a{text-decoration: none;}
.no_indent{text-indent: 0!important;}
.txt_hidden,.userDiv div.clearfix p,.userInfoTable .dropdown-menu a,.dropdown-menu2 a,.intBox .dropdown-menu a{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}/*,.dropdown-out.net .dropdown-menu li a*/
.ContractMain p{font-size:13px;line-height:30px;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.message_box{width:320px;height:60px;position:fixed;top:50%;left:50%;margin:-30px 0 0 -180px;z-index:9999;}
.message{position:absolute;top:0;left:0;width:320px;height:60px;line-height:60px;background: url("../img/mesbg_2.png") no-repeat;word-break: break-all;word-wrap: break-word;}
.message.message_error{background: url("../img/mesbg_error2.png") no-repeat;}
.message i{width:32px;height:32px;border:1px solid #fff;border-radius:50%;padding:4px;margin:0 10px;}
.message_error i{border-color:#a04646;color:#a04646;}
.message i.icon-info{border:0;vertical-align:-4px;margin-right:5px;}
.message.message_waring{background: url("../img/mesbg_waring.png") no-repeat;}


.prompt{text-align:center;font-size:10px;border-radius:50%;min-width:13px;height:13px;line-height:15px;border:2px solid #383634;background:#dd4747;color:#fff;font-family: Arial;position: absolute;padding:2px;right:8px;top:5px;}
.title{height:39px;line-height:39px;border-bottom: 1px solid #efefef;padding-left:20px;}
.titleBt{border-bottom:0;border-top: 1px solid #efefef;}
.title a.color-8.current{color:#000!important;}
.pop .title{padding-left:10px;}
.title .iconBtn{height:39px;}
.line,.leftLine{height:0;line-height:0;font-size:0;border-bottom:1px solid #efefef;position: relative;}
.lineD{border-bottom:1px dotted #ccc;}
.line span{display: inline-block;height:20px;line-height:20px;position: relative;top:-10px;background: #fff;padding:0 10px;font-size:12px;}
.title span.marr20{display:inline-block;height:20px;line-height:20px;}
.tips{display: inline-block;width:20px;height:20px;font-size:0;line-height:0;margin-right:10px;vertical-align: bottom;}
.bg1,.workday{background:#e4fde0;}
.bg2,.weekend{background:#f4f4f4;}
.bg3,.holiday{background:#a3cefc;}
.color-arrow{display: inline-block;width:10px;height:10px;border-radius:50%;font-size:0;line-height:0;margin-right:5px;}
.col-1{background-color:#ef901b;}
.col-2{background-color:#f0ac19;}
.col-3{background-color:#50b850;}

/*头像*/
.line20{line-height:20px!important;}
.user{height:40px;line-height:40px;}
.user img{width:40px;height:40px;border-radius:3px;float: left;margin-right:10px;}
.user.width-60,.user.width-60 img{width:60px;height:60px;}
.header .user,.header .user em{color:#eee;height:40px;line-height:40px;}
.header .user img{width:40px;height:40px;border-radius:3px;float: left;margin-right:10px;}
.pop .user{line-height:0;}
.pop .user img{float: none;margin:0;}
.back img{width:50px;height:50px;}
.locationIn .back{height:60px;}
.locationIn .back .user{height:50px;line-height:50px;}
/*按钮*/
.btn{display: inline-block;height:30px;line-height:30px;text-align: center;color:#fff;width:100%;background:#ef901b;border-radius:3px;}
.btn:hover{background:#e78710;}
.btnNormal,.btnNormal:hover{opacity:0.6;cursor: default;background:#ef901b;}
.btn-no{background:#bbb;}
.btn-no:hover{background:#b1afaf;}
.btn-ok{background:#55ba59;}
.btn-ok:hover{background:#2baa3f;}
.btn-yes{background:#55c96e;}
/*.btn-yes:hover{background:#46ae5c;}*/
.btn-waring{background:#e9505f;}
.btn-waring:hover{background:#e9505f;}
.btn-bottom{position: absolute;bottom:10px;left:50%;margin-left:-50px;}
.noClick,.noClick:hover{cursor:default;background:#ccc;color:#fff;}
.switch{display:inline-block;width:40px;height:20px;line-height:20px;padding:1px;border-radius:20px;background:#ddd;margin:13px 20px 0 0;position: relative;cursor: pointer;transition:0.3s;}
.switch em{display:inline-block;width:20px;height:20px;border-radius:50%;background:#fff;position: absolute;top:1px;left:1px;box-shadow:0 0 1px #999;transition:0.3s;}
.switch.current{background:#ef901b;transition:0.3s;}
.switch.current em{left:21px;transition:0.3s;}

.MainBody{position: absolute;left:0;right:0;top:50px;bottom:0;overflow:hidden;overflow-y: auto;background: #efefef;padding-top:20px;}
/*当前位置*/
.location{height:50px;line-height:50px;position: relative;}
.locationIn{height:60px;line-height:60px;}
.location a{display: inline-block;height:50px;min-width:30px;position: relative;}
.location a.btn{height:30px;color: #fff!important;}
.location a.floatright{width:50px;}
.location a:hover{color:#ef901b;}
.location a.back,.back{border-right:1px solid #efefef;padding:0 8px;}
span.back{padding:0 20px;}
.title .back{height:40px;border-left:1px solid #efefef;}
.locationIn .back div{display:inline-block;height:40px;line-height:40px;border-right:1px solid #efefef;border-left:1px solid #efefef;padding:0 15px;min-width:40px;}
.locationIn .back div p{line-height:20px;}
.location ul li{display: inline-block;}
.location ul li a,.location ul li span{width:auto;color:#333;padding:0 5px;}
.dropdown-out{position: absolute;}
.dropdown-out .dropdown-menu{top:7px;}
.dropdown-out .arrow{position:absolute;border:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #fff;right:50%;margin-right:-5px;z-index:5;}
.dropdown-menu{background:#fff;border:1px solid #efefef;position: absolute;right:0;top:40px;padding:5px 0;box-shadow:0 0 3px #e0e0e0;display: none;z-index:3;}
.dropdown-menu.current{display:block;}
.dropdown-menu li{display:block!important;min-height:30px!important;color:#666;text-align: left;margin:0!important;border:0!important;}
.dropdown-menu a{display:block;width:auto;height:30px;line-height:30px;color:#666;padding:0 10px;white-space:nowrap;text-overflow:ellipsis;}
.dropdown-menu a:hover,.dropdown-menu a.current{background:#efefef;}
.add .dropdown-menu{width:100px;left:25px;top:10px;}
/*.dropdown-out.net{height:283px;}*/
.dropdown-out.net{box-shadow:0 0 3px #e0e0e0;background:#fff;}
.dropdown-out.net .dropdown-menu,.dropdown-out.net ul.dropdown-menu{border:0;box-shadow:none;position:relative;top:0;}
.dropdown-out.net .arrow{top:-7px;}
/*.dropdown-out.net .dropdown-menu ul{margin:10px 0;}*/
.dropdown-out.net .dropdown-menu li,.dropdown-out.net .dropdown-menu li a{width:96%;}
.dropdown-out.net .dropdown-menu li{margin-bottom:5px!important;}
.dropdown-menu li dl{margin:0 13px;border-left:1px solid #ccc;}
.dropdown-menu li{min-height:30px;}
.dropdown-menu li dl dd{height:30px;line-height:30px;}
.pageOut{border-top:1px solid #efefef;height:30px;}
.pagenation a,.pagenation span{display:inline-block;height:30px;line-height:30px;margin:0 5px;*display: inline;border:1px solid #efefef;padding:0 10px;color:#333;}
.pagenation span{border:0;}
.pagenation a:hover{text-decoration:none;background:#ef901b;color:#fff;border-color:#ef901b;}
.pagenation a.noData,.pagenation a.noData:hover{color:#ccc;cursor:default;background:#fff;border-color:#efefef;}
.Grey{opacity:0.3;filter:alpha(opacity=30);}
/*图标*/
.icon{display:inline-block;font-size:0;line-height:0;width:20px;height:20px;background: url("../img/icon-1.png");position: absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
a:hover .icon,a.current .icon,a.current:hover .icon-check,a.current .icon-set,.ico-calendar:hover,.has-general:hover .ico-calendar,.icon:hover{background-image: url("../img/icon-2.png");}
.iconBtn{display: inline-block;width:20px;height:20px;line-height:20px;position:relative;}
.iconBtnl{border-left:1px solid #efefef;text-align: center;padding-left:20px;}
.pop .iconBtn{position: absolute;right:5px;top:0;}
.pop td .iconBtn{position: relative;right:0;top:0;}
.icon-search{background-position:0 0;}
.icon-net{background-position:-80px 0;}
.icon-team{background-position:-60px -120px;}
.icon-remind{background-position:0 -20px;}
.icon-search2{background-position:0 -40px;}
.icon-edit{background-position:0 -60px;}
.icon-edit-mini{background-position:-20px -180px;}
.icon-right{background-position:-40px -242px;}
.icon-update{background-position:-60px -40px;}
.icon-more{background-position:0 -80px;}
.icon-more-mini{width:17px;background-position:-43px -40px;}
.icon-refresh{background-position:0 -100px;}
.icon-off{background-position:0 -120px;}
.icon-storage{background-position:0 -140px;}
.icon-print{background-position:0 -160px;}
.icon-relieve{background-position:0 -180px;}
.icon-relieve{background-position:0 -200px;}
.icon-out{width:24px;background-position:0 -242px;}
.icon-check,.icon-radio{position: relative;left:0;top:0;margin:0;vertical-align:-5px;margin-right:3px;}
.icon-check,a:hover .icon-check{background: url("../img/icon-1.png");background-position:-40px -20px;}
.icon-radio,a:hover .icon-radio{background: url("../img/icon-1.png");background-position:-60px -100px;}
.icon-radio.current,a:hover .icon-radio.current{background: url("../img/icon-2.png");background-position:-60px -100px;}
.icon-check.current,a:hover .icon-check.current{background: url("../img/icon-2.png");background-position:-40px -20px;}
.FormulaList .icon-check.current,.FormulaList a:hover .icon-check.current{background: url("../img/icon-2.png");background-position:-60px -140px;}


.icon-back{background-position:-20px -100px;}
.icon-set{background-position:-20px -20px;}
.ico-calendar{background-position:-40px -80px;cursor:pointer;}
.has-general .ico-calendar{left:inherit;right:5px;}
.icon-clock{background-position:-20px -140px;}
.icon-up{background-position:-20px -120px;}
.icon-up-mini{width:19px;background-position:-21px -221px;}
.icon-down-mini{width:19px;background-position:-60px -221px;}
.icon-stop{background-position:-20px -40px;}
.icon-stop-mini{width:19px;background-position:-21px -200px;}
.icon-enable-mini{width:19px;background-position:-60px -200px;}/*启用*/
.icon-doc{background-position:-20px -60px;}
.icon-doc-plus{background-position:-20px -80px;}
.icon-fk{background-position:-20px 0;}/*我不知道这是啥*/
.icon-plus{background-position:-40px 0;}
.icon-plus-mini{background-position:-40px -262px;}
.icon-delete{background-position:-20px -160px;}
.icon-delete-large{background-position:-79px -60px;}
.icon-move{background-position:-60px -160px;}
.icon-off-mini{background-position:-40px -60px;}
.icon-revert{background-position:-80px -20px;}
.icon-circle{background-position:-40px -100px}
.icon-close,.icon-open{width:21px;height:21px;background-position:0 -200px}
.icon-open{background-position:0 -221px}
.icon-sun,.icon-moon,.icon-clock2{background-position:-40px -140px;position:relative;margin:0;left:-4px;top:5px;}
.icon-moon{background-position:-40px -160px;}
.icon-clock2{background-position:-80px -140px;}
.icon-clander{background-position:-40px -200px;}
.icon-card{background-position:-40px -180px;}
.icon-down{width:20px;height:21px;background-position:-40px -221px;}
.icon-upload{background-position:-60px -40px;}
.icon-tile{background-position:-60px 0;}
.icon-list{background-position:-60px -20px;}
.icon-circleH{background-position:-80px -80px;}
.icon-calculate{background-position:-60px -60px;}
.icon-submit{background-position:-60px -80px;}
.icon-sync{background-position:-40px -120px;}
.add{display:block;width:21px;height:56px;margin:-10px 0 20px -49px;position:inherit;background: url("../img/add.png") no-repeat;cursor: pointer;}
.icon-circle-t,.current .icon-circle-t{background-position: 0 -262px;font-size:12px;line-height:20px;text-align: center;color:#888;left:20px;}
.current .icon-circle-t{background-position:-20px -262px;}
.plus,.minus{font-size:26px;color:green;line-height:40px;padding:0 5px;}
.plus{color:#ff0000;}
.icon-king{width:23px;height:23px;position: absolute;background:url("../img/king.png");top:1px;left:20px;}
.icon-boss{width:13px;height:13px;background-position:-82px -224px;left:5px;margin-left:0;}
.current .icon-boss,.node_in:hover .icon-co,.node_in:hover .icon-earth,.node_in:hover .icon-group{background-image: url("../img/icon-2.png");}
.icon-co,.icon-fold,.icon-unfold,.icon-earth,.icon-group{width:13px;height:13px;position: static;margin:0 5px 0 -5px;z-index: 2;}
.icon-co{height:12px;background-position:-82px -162px;}
.icon-earth{height:12px;background-position:-82px -174px;vertical-align: middle;}
.icon-group{height:12px;background-position:-82px -186px;vertical-align: middle;}
.icon-fold{background-position:-82px -198px;position: absolute;left:12px;margin:-7px 0 0 0;}
.icon-unfold{background-position:-82px -211px;}
.node_company .icon-fold{left:-6px;}
@font-face {
	font-family: 'hwxh';
	src:url('hwxh.eot?-klml34');
	src:url('hwxh.eot?#iefix-klml34') format('embedded-opentype'),
		url('hwxh.woff?-klml34') format('woff'),
		url('hwxh.ttf?-klml34') format('truetype'),
		url('hwxh.svg?-klml34#oafont') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*弹出*/
.loading{position:fixed;width:160px;padding:10px 0;top:50%;left:50%;margin:-50px 0 0 -80px;z-index:500;color:#fff;background:url("../img/mask40.png") repeat;border-radius:3px;}
.loading img{width:35px;height:35px;margin-bottom:8px;}
.mask{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index:50;background:url("../img/mask70.png");opacity: 0.6;}
.maskTop{width: 100%;height:50px;position: fixed;top:0;left:0;z-index:50;background:url("../img/mask70.png");opacity: 0.6;}
/*input*/
.int{height:26px;line-height:normal;border:1px solid #ccc;border-radius:1px;text-indent:5px;color: #aaa;width: 100%;outline: 0;}
.border{border:1px solid #ccc;}
.int-txt{line-height:18px;width:100%;}
.has-general{position: relative;}
.has-general label.control-label{display:none;text-align: left;}
.has-general,.has-success, .has-warning, .has-error{margin-top:10px;position: relative;}
.has-general input{width:158px;height:28px;line-height:28px;border:1px solid #efefef;outline: 0;color:#333;text-indent:5px;}
.has-general input:focus{box-shadow:0 0 2px #ef901b;}
.has-general label{line-height:28px;position: absolute;left:1px;top:1px;right:1px;bottom:1px;background:#fff;text-indent:3px;}
.has-error input,.intBox.has-error{border-color:#b94a48;}
.has-error label.control-label{display:block;color:#b94a48;}
.choose_net .has-general{margin:5px 0;}
.choose_net .has-general input{height:24px;line-height:24px;}
.has-general input.file{position:absolute;top:0;left:0;height:230%!important;opacity: 0;}
.tableCard td div.has-general{height:30px;line-height:30px;top:3px;}
.tableCard .has-general .control-label{top:4px;}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/*高斯模糊*/
.blur{filter:blur(4px);-webkit-filter:blur(4px);-moz-filter:blur(4px);transition:0.3s;}


