@charset "utf-8"; 
/* CSS Document */
/*reset*/
html{height:100%;}
body{position:relative;background: #efefef;color:#333;overflow:hidden;height:100%;}
body, div, td,font,em{font-size:12px;line-height:1.2em;font-family:"Microsoft YaHei",Tahoma,Arial,"宋体","黑体";}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var,b,font,i{font-style:normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align:baseline;zoom: 1;}
input, textarea, select, button{font-size: 12px;font-weight: inherit; vertical-align:middle;}
input[type=radio],input[type=checkbox]{vertical-align: -2px;}
textarea{resize:none; overflow-x:hidden;overflow-y:auto; outline:medium none; word-wrap:break-word;}
a{text-decoration:none;color:#0066cc;}
a:focus{outline-style: none;outline-width: 0;outline: none;}
/*a{_blr:expression(this.onFocus=this.blur());}*/
a:link, a:visited, a:active{text-decoration: none;}
a:hover,.news-list li a:hover{text-decoration:none;}
.strong{font-weight:bold;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center!important;}
.alignright{text-align:right!important;}
.alignleft{text-align:left!important;}
.aligntop{vertical-align: top!important;}
.block{display:block !important;}
.inline{display:inline!important;}
.inlineblock{display:inline-block!important;}
.nobg{background:none!important;}
.nofloat{float:none!important;}
.noborder{border:none!important;}
.noborder-l{border-left:none!important;}
.noborder-r{border-right:none!important;}
.visible{overflow:visible!important;}
.visible-y{overflow-y:auto!important;}
.hidden{overflow:hidden!important;}
.relative{position: relative!important;}
.pointer{cursor: pointer!important;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart3{margin-top:3px!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart11{margin-top:11px!important;}
.mart15{margin-top:15px!important;}
.mart18{margin-top:18px!important;}
.mart20{margin-top:20px!important;}
.mart25{margin-top:25px!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart45{margin-top:45px!important;}
.mart50{margin-top:50px!important;}
.mart80{margin-top:80px!important;}
.mart100{margin-top:100px!important;}
.marl10{margin-left:10px!important;}
.marl15{margin-left:14px!important;}
.marr5{margin-right:5px!important;}
.marr6{margin-right:7px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr18{margin-right:18px!important;}
.marr20{margin-right:20px!important;}
.marr30{margin-right:30px!important;}
.marr50{margin-right:50px!important;}
.marl5{margin-left:5px!important;}
.marl6{margin-left:7px!important;}
.marl20{margin-left:20px!important;}
.marl25{margin-left:25px!important;}
.marl_20{margin-left:-20px!important;}
.marl30{margin-left:30px!important;}
.marl40{margin-left:40px!important;}
.marl50{margin-left:50px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.bg-white{background:#fff;}
.color-c{color:#ccc!important;}
.color-3{color:#333!important;}
.color-6,.color-6 a{color:#666!important;}
.color-8,.color-8 a{color:#888!important;}
.color-a,.color-a td *{color:#aaa;}
.color-347cdc{color:#347cdc!important;}
.color-1{color:#f08b15;}
.color-2{color:#59a7f9;}
/*.color-3{color:#aaaaaa;}*/
.color-4{color:#e75353;}
.nodata{color:#ccc;padding-top:100px;}
a.add:hover,a.more:hover{text-decoration: underline;}
.color-info{color:#80c17c;}
.tags,.keywords{color: #f11b1b;}
a.tags:hover,a.keywords:hover{text-decoration:underline;}
/*width*/
.width-30{width:30px!important;}
.width-40{width:40px!important;}
.width-50{width:50px!important;}
.width-60{width:60px!important;}
.width-70{width:70px!important;}
.width-80{width:80px!important;}
.width-84{width:84px!important;}
.width-90{width:90px!important;}
.width-95{width:95px!important;}
.width-100{width:100px!important;}
.width-105{width:105px!important;}
.width-110{width:110px!important;}
.width-120{width:120px!important;}
.width-125{width:125px!important;}
.width-130{width:130px!important;}
.width-135{width:135px!important;}
.width-140{width:140px!important;}
.width-145{width:145px!important;}
.width-149{width:149px!important;}
.width-150{width:150px!important;}
.width-155{width:155px!important;}
.width-160{width:160px!important;}
.width-175{width:175px!important;}
.width-180{width:180px!important;}
.width-184{width:184px!important;}
.width-200{width:200px!important;}
.width-210{width:210px!important;}
.width-216{width:216px!important;}
.width-220{width:220px!important;}
.width-230{width:230px!important;}
.width-235{width:235px!important;}
.width-240{width:240px!important;}
.width-250{width:250px!important;}
.width-300{width:300px!important;}
.width-350{width:350px!important;}
.width-400{width:400px!important;}
.width-500{width:500px!important;}
.width-560{width:558px!important;}
.width-auto{width:auto!important;}
.height-auto{height:auto!important;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top15{padding-top:15px!important;}
.p-top20{padding-top:20px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-bt5{padding-bottom:5px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt15{padding-bottom:15px!important;}
.p-bt20{padding-bottom:20px!important;}
.p-left10{padding-left:10px!important;}
.p-left20{padding-left:20px!important;}
.p-left40{padding-left:40px!important;}
/*font-size*/
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font15{font-size:15px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font22{font-size:22px!important;}
.font24{font-size:24px!important;}
.font25{font-size:25px!important;}
.font26{font-size:26px!important;}
.font28{font-size:28px!important;}
.font30{font-size:30px!important;}
.font48{font-size:48px!important;}
.l_th,.l_th *{text-decoration:line-through;}
.l_th i,.l_th ul,.l_th ul li,.l_th ul li a{text-decoration: none;}
.no_indent{text-indent: 0!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.prompt{text-align:center;font-size:10px;border-radius:50%;min-width:13px;height:13px;line-height:15px;border:2px solid #222;background:#dd4747;color:#fff;font-family: Arial;position: absolute;padding:2px;right:8px;top:5px;}
.title{height:39px;line-height:39px;border-bottom: 1px solid #efefef;padding-left:20px;}
.pop .title{padding-left:10px;}
.title .iconBtn{height:39px;}
.line,.leftLine{height:0;line-height:0;font-size:0;border-bottom:1px solid #efefef;}
.title span.marr20{display:inline-block;height:20px;line-height:20px;}
.tips{display: inline-block;width:20px;height:20px;font-size:0;line-height:0;margin-right:10px;vertical-align: bottom;}
.bg1,.workday{background:#e4fde0;}
.bg2,.weekend{background:#f4f4f4;}
.bg3,.holiday{background:#a3cefc;}

/*头像*/
.user{height:40px;line-height:40px;}
.user img{width:40px;height:40px;border-radius:50%;float: left;margin-right:10px;}
.header .user{color:#eee;height:40px;line-height:40px;}
.header .user img{width:40px;height:40px;border-radius:50%;float: left;margin-right:10px;}
.pop .user{line-height:0;}
.pop .user img{float: none;margin:0;}
.back img{width:50px;height:50px;}
.locationIn .back{height:60px;}
.locationIn .back .user{height:50px;line-height:50px;}
/*按钮*/
.btn{display: inline-block;height:30px;line-height:30px;text-align: center;color:#fff;width:100%;background:#59a7f9;border-radius:2px;}
.btn:hover{background:#347cdc;}
.btnNormal,.btnNormal:hover{opacity:0.6;cursor: default;background:#59a7f9;}
.btn-no{background:#bbb;}
.btn-no:hover{background:#b1afaf;}
.btn-ok{background:#55ba59;}
.btn-yes{background:#55c96e;}
.btn-yes:hover{background:#46ae5c;}
.switch{display:inline-block;width:40px;height:20px;line-height:20px;padding:1px;border-radius:20px;background:#ddd;margin:13px 20px 0 0;position: relative;cursor: pointer;transition:0.3s;}
.switch em{display:inline-block;width:20px;height:20px;border-radius:50%;background:#fff;position: absolute;top:1px;left:1px;box-shadow:0 0 1px #999;transition:0.3s;}
.switch.current{background:#59a7f9;transition:0.3s;}
.switch.current em{left:21px;transition:0.3s;}
/*当前位置*/
.location{height:50px;line-height:50px;position: relative;}
.locationIn{height:60px;line-height:60px;}
.location a{display: inline-block;height:50px;min-width:30px;position: relative;}
.location a.floatright{width:50px;}
.location a:hover{color:#347cdc;}
.location a.back,.back{border-right:1px solid #efefef;padding:0 8px;}
span.back{padding:0 20px;}
.title .back{height:40px;border-left:1px solid #efefef;}
.locationIn .back div{display:inline-block;height:40px;line-height:40px;border-right:1px solid #efefef;border-left:1px solid #efefef;padding:0 15px;min-width:40px;}
.locationIn .back div p{line-height:20px;}
.location ul li{display: inline-block;}
.location ul li a,.location ul li span{width:auto;color:#333;padding:0 5px;}
.dropdown-menu{background:#fff;border:1px solid #efefef;position: absolute;right:0;top:40px;padding:5px 0;box-shadow:0 0 3px #e0e0e0;display: none;z-index:3;}
.dropdown-menu.current{display:block;}
.dropdown-menu li{display:block!important;height:30px!important;line-height:30px!important;color:#666;text-align: left;margin:0!important;border:0!important;}
.dropdown-menu a{display:block;width:auto;height:30px;line-height:30px;color:#666;padding:0 10px;}
.dropdown-menu a:hover{background:#efefef;}
.pageOut{border-top:1px solid #efefef;height:30px;line-height:30px;}
.pagenation a,.pagenation span{display:inline-block;height:30px;line-height:30px;margin:0 5px;*display: inline;border:1px solid #efefef;padding:0 10px;color:#333;}
.pagenation span{border:0;}
.pagenation a:hover{text-decoration:none;background:#59a7f9;color:#fff;border-color:#59a7f9;}
.pagenation a.noData,.pagenation a.noData:hover{color:#ccc;cursor:default;background:#fff;border-color:#efefef;}
/*图标*/
.icon{display:inline-block;font-size:0;line-height:0;width:20px;height:20px;background: url("../img/icon-1.png");position: absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
a:hover .icon,a.current .icon,a.current:hover .icon-check,a.current .icon-set,.ico-calendar:hover,.has-general:hover .ico-calendar{background-image: url("../img/icon-2.png");}
.iconBtn{display: inline-block;width:20px;height:20px;line-height:20px;position:relative;}
.icon-search{background-position:0 0;}
.icon-remind{background-position:0 -20px;}
.icon-search2{background-position:0 -40px;}
.icon-edit{background-position:0 -60px;}
.icon-edit-mini{background-position:-20px -180px;}
.icon-right{background-position:-40px -242px;}
.icon-update{background-position:-40px -120px;}
.icon-more{background-position:0 -80px;}
.icon-more-mini{width:17px;background-position:-43px -40px;}
.icon-refresh{background-position:0 -100px;}
.icon-off{background-position:0 -120px;}
.icon-storage{background-position:0 -140px;}
.icon-print{background-position:0 -160px;}
.icon-relieve{background-position:0 -180px;}
.icon-relieve{background-position:0 -200px;}
.icon-out{width:24px;background-position:0 -242px;}
.icon-check,a:hover .icon-check{background: url("../img/icon-1.png");background-position:-40px -20px;}
.icon-radio,a:hover .icon-radio{background: url("../img/icon-1.png");background-position:-60px -100px;}
.icon-radio.current,a:hover .icon-radio.current{background: url("../img/icon-2.png");background-position:-60px -100px;}

.icon-back{background-position:-20px -100px;}
.icon-set{background-position:-20px -20px;}
.ico-calendar{background-position:-40px -80px;cursor:pointer;}
.has-general .ico-calendar{left:inherit;right:5px;}
.icon-clock{background-position:-20px -140px;}
.icon-up{background-position:-20px -120px;}
.icon-stop{background-position:-20px -40px;}
.icon-stop-mini{width:19px;background-position:-21px -200px;}
.icon-doc{background-position:-20px -60px;}
.icon-doc-plus{background-position:-20px -80px;}
.icon-plus{background-position:-40px 0;}
.icon-delete{background-position:-20px -160px;}
.icon-off-mini{background-position:-40px -60px;}
.icon-circle{background-position:-40px -100px}
.icon-close,.icon-open{width:21px;height:21px;background-position:0 -200px}
.icon-open{background-position:0 -221px}
.icon-sun,.icon-moon{background-position:-40px -140px;position:relative;margin:0;left:-4px;top:5px;}
.icon-moon{background-position:-40px -160px;}
.icon-clander{background-position:-40px -200px;}
.icon-card{background-position:-40px -180px;}
.icon-down{width:20px;height:21px;background-position:-40px -221px;}
.icon-upload{background-position:-60px -40px;}
.icon-tile{background-position:-60px 0;}
.icon-list{background-position:-60px -20px;}
.icon-calculate{background-position:-60px -60px;}
.icon-submit{background-position:-60px -80px;}
.icon-sync{background-position:-40px -120px;}
.add{display:block;width:21px;height:56px;margin:-10px 0 20px -49px;position:inherit;background: url("../img/add.png") no-repeat;}
.icon-circle-t,.current .icon-circle-t{background-position: 0 -262px;font-size:12px;line-height:20px;text-align: center;color:#888;left:25px;}
.current .icon-circle-t{background-position:-20px -262px;}
@font-face {
	font-family: 'hwxh';
	src:url('hwxh.eot?-klml34');
	src:url('hwxh.eot?#iefix-klml34') format('embedded-opentype'),
		url('hwxh.woff?-klml34') format('woff'),
		url('hwxh.ttf?-klml34') format('truetype'),
		url('hwxh.svg?-klml34#oafont') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*弹出*/
.loading{position:absolute;width:160px;padding:10px 0;top:50%;left:50%;margin:-50px 0 0 -80px;z-index:202;color:#fff;background:url("../img/mask40.png") repeat;border-radius:3px;}
.loading img{width:35px;height:35px;margin-bottom:8px;}
.mask{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index:30;background:url("../img/mask70.png");}

/*input*/
.int{height:26px;line-height:normal;border:1px solid #ccc;border-radius:1px;text-indent:5px;color: #aaa;width: 100%;outline: 0;}
.border{border:1px solid #ccc;}
.int-txt{line-height:18px;width:100%;}
.has-general{position: relative;}
.has-general label.control-label{display:none;}
.has-general,.has-success, .has-warning, .has-error{margin-top:10px;position: relative;}
.has-general input{width:158px;height:28px;line-height:28px;border:1px solid #efefef;outline: 0;color:#333;text-indent:5px;}
.has-general input:focus{box-shadow:0 0 2px #59a7f9;}
.has-general label{line-height:28px;position: absolute;left:1px;top:1px;right:1px;bottom:1px;background:#fff;text-indent:3px;}
.has-error input,.intBox.has-error{border-color:#b94a48;}
.has-error label.control-label{display:block;color:#b94a48;}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}




